@keyframes animate {
  0% {
    stroke-dasharray: 0 628.32;
  }
}

.progress {
  animation-name: animate;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-direction: forwards;
}

.move {
  transform-origin: 120px 123px;
  transform: rotateZ(180deg);
}

.percentage {
  text-anchor: middle;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bold;
}
